[class~='ant-col'] {
  background: transparent;
  border: 0;
}
[class~='ant-col'] > div {
  font-size: 14px;
  border-radius: 4px;
  margin-top: 20px;
}
.h2-center {
  text-align: center;
}
.rowtop {
  margin-top: 20px;
}
pre {
  padding: 8px 16px;
  font-size: 13px;
  background: #f9f9f9;
  border-radius: 6px;
}
pre.demo-code {
  direction: ltr;
}
.ant-col {
  padding: 0;
}
.inner-upbox {
  justify-content: space-between;
  display: flex;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  text-align: center;
}

.ant-card-cover img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}
.boxcenter {
  text-align: center;
}
.down-container {
  padding: 20px;
}

/* Style for each row of cards */
.card-row {
  margin-bottom: 30%;
}

/* Style for the row title */
.row-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
}

/* Style for the card box title */
.box-title {
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}

/* Style for the card image */
.ant-card-cover img {
  width: 100%;
  height: auto;
}
.titleax {
  text-align: center;
  margin-top: 20px;
}
/* Adjust card margins */

.antcardm {
  margin-top: 20%;
}
/* Media query for responsiveness */
@media (max-width: 768px) {
  .card-row {
    margin-left: -8px;
    margin-right: -8px;
  }
}